In [1]:
import urllib
import time
import numpy as np
import pandas as pd

import requests
from urllib.request import urlopen
import time

from bs4 import BeautifulSoup

In [2]:
html = 'https://www.poundsterlinglive.com/bank-of-england-spot/historical-spot-exchange-rates/usd/USD-to-CAD-'

year = ['1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986']
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [3]:
for y in year:
    html2 = html + str(y)
    df = pd.read_html(html2)[-1].drop(['Unnamed: 2', 'Unnamed: 3'], axis=1)
    
    drop_list = []

    for j in range(len(df)):
        if df.iloc[j][0] in month:
            drop_list.append(j)
            
    df = df.drop(drop_list)
            
    for i in range(len(df)):
        df.iloc[i,0] = df.iloc[i,0].split(',')[1]
        df.iloc[i,0] = df.iloc[i,0].replace(' Dec ', '-12-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Nov ', '-11-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Oct ', '-10-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Sep ', '-09-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Aug ', '-08-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Jul ', '-07-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Jun ', '-06-')
        df.iloc[i,0] = df.iloc[i,0].replace(' May ', '-05-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Apr ', '-04-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Mar ', '-03-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Feb ', '-02-')
        df.iloc[i,0] = df.iloc[i,0].replace(' Jan ', '-01-')
        a = df.iloc[i,0].split('-')
        df.iloc[i,0] = a[2].strip() + '-' + a[1].strip() + '-' + a[0].strip()

        df.iloc[i,1] = df.iloc[i,1][8:14].strip()
        if 'C' in df.iloc[i,1]:
            df.iloc[i,1] = df.iloc[i,1].split(' ')[0]
        df.iloc[i,1] = float(df.iloc[i,1])
    
    df = df.sort_values(by='Date')
    
    df.to_csv('C:\\Users\\parks\\Desktop\\CAD_'+str(y)+'.csv')

In [228]:
frame = pd.DataFrame()
frame.to_csv("C:\\Users\\parks\\Desktop\\CAD.csv")

In [229]:
fout = open("C:\\Users\\parks\\Desktop\\CAD.csv", 'w')

fin = []
for i in year:
    fin.append('C:\\Users\\parks\\Desktop\\CAD_'+str(i)+'.csv')

fin = fin[1:]

In [230]:
for line in open('C:\\Users\\parks\\Desktop\\CAD_1975.csv'):
    fout.write(line)
    
for i in fin:
    f = open(i)
    lines = f.readlines() # skip the header
    for line in lines[1:]:
         fout.write(line)
    f.close() # not really needed
fout.close()

In [217]:
f = open('C:\\Users\\parks\\Desktop\\CAD_1985.csv', 'r')

In [219]:
lines = f.readlines()

In [ ]:
fout=open("out.csv","a")
# first file:
for line in open("sh1.csv"):
    fout.write(line)
# now the rest:    
for num in range(2,201):
    f = open("sh"+str(num)+".csv")
    f.next() # skip the header
    for line in f:
         fout.write(line)
    f.close() # not really needed
fout.close()

In [202]:
df = pd.read_html('https://www.poundsterlinglive.com/bank-of-england-spot/historical-spot-exchange-rates/usd/USD-to-CAD-1975')[-1].drop(['Unnamed: 2', 'Unnamed: 3'], axis=1)

drop_list = []

for i in range(len(df)):
    if df.iloc[i][0] in month:
        drop_list.append(i)

df = df.drop(drop_list)

In [203]:
for i in range(len(df)):
    df.iloc[i,0] = df.iloc[i,0].split(',')[1]
    df.iloc[i,0] = df.iloc[i,0].replace(' Dec ', '-12-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Nov ', '-11-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Oct ', '-10-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Sep ', '-09-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Aug ', '-08-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Jul ', '-07-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Jun ', '-06-')
    df.iloc[i,0] = df.iloc[i,0].replace(' May ', '-05-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Apr ', '-04-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Mar ', '-03-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Feb ', '-02-')
    df.iloc[i,0] = df.iloc[i,0].replace(' Jan ', '-01-')
    a = df.iloc[i,0].split('-')
    df.iloc[i,0] = a[2].strip() + '-' + a[1].strip() + '-' + a[0].strip()
    
    df.iloc[i,1] = df.iloc[i,1][8:14].strip()
    if 'C' in df.iloc[i,1]:
        df.iloc[i,1] = df.iloc[i,1].split(' ')[0]
    df.iloc[i,1] = float(df.iloc[i,1])

In [207]:
type(df['Rate'].iloc[0])

float

In [209]:
df.sort_values(by='Rate')

           Date    Rate
99   1975-08-18  0.9616
100  1975-08-15  0.9623
98   1975-08-19  0.9633
101  1975-08-14  0.9634
96   1975-08-21  0.9637
104  1975-08-11   0.964
102  1975-08-13  0.9644
97   1975-08-20  0.9645
103  1975-08-12  0.9647
94   1975-08-26  0.9659
105  1975-08-08  0.9659
106  1975-08-07   0.966
171  1975-05-12  0.9663
95   1975-08-22  0.9665
170  1975-05-13  0.9665
93   1975-08-27  0.9667
168  1975-05-15  0.9672
167  1975-05-16  0.9676
92   1975-08-28  0.9677
166  1975-05-19  0.9678
129  1975-07-08  0.9681
169  1975-05-14  0.9683
117  1975-07-24  0.9684
114  1975-07-29  0.9686
107  1975-08-06  0.9687
116  1975-07-25  0.9687
115  1975-07-28  0.9688
91   1975-08-29  0.9689
112  1975-07-31   0.969
118  1975-07-23  0.9691
..          ...     ...
221  1975-03-03  1.0015
240  1975-02-05  1.0015
218  1975-03-06  1.0016
245  1975-01-30   1.002
224  1975-02-27  1.0021
223  1975-02-28  1.0021
258  1975-01-13  1.0022
220  1975-03-04  1.0024
219  1975-03-05  1.0025
226  1975-02-25  1.0028
257  1975-01-14  1.0032
246  1975-01-29  1.0038
247  1975-01-28  1.0038
260  1975-01-09  1.0039
248  1975-01-27  1.0044
256  1975-01-15  1.0046
225  1975-02-26  1.0047
249  1975-01-24  1.0052
250  1975-01-23  1.0061
262  1975-01-07  1.0062
259  1975-01-10  1.0062
255  1975-01-16  1.0065
261  1975-01-08  1.0069
252  1975-01-21  1.0075
251  1975-01-22  1.0077
265  1975-01-02  1.0079
254  1975-01-17  1.0082
264  1975-01-03  1.0085
263  1975-01-06  1.0086
253  1975-01-20  1.0091

[254 rows x 2 columns]

In [201]:
type(float(df['Rate'].iloc[0]))

float

In [6]:
df = pd.read_csv('C:\\Users\\parks\Desktop\\JPY_KRW.csv')

In [7]:
for i in range(len(df)):
    df.iloc[i,0] = df.iloc[i,0].replace('Dec', '12')
    df.iloc[i,0] = df.iloc[i,0].replace('Nov', '11')
    df.iloc[i,0] = df.iloc[i,0].replace('Oct', '10')
    df.iloc[i,0] = df.iloc[i,0].replace('Sep', '09')
    df.iloc[i,0] = df.iloc[i,0].replace('Aug', '08')
    df.iloc[i,0] = df.iloc[i,0].replace('Jul', '07')
    df.iloc[i,0] = df.iloc[i,0].replace('Jun', '06')
    df.iloc[i,0] = df.iloc[i,0].replace('May', '05')
    df.iloc[i,0] = df.iloc[i,0].replace('Apr', '04')
    df.iloc[i,0] = df.iloc[i,0].replace('Mar', '03')
    df.iloc[i,0] = df.iloc[i,0].replace('Feb', '02')
    df.iloc[i,0] = df.iloc[i,0].replace('Jan', '01')
    
    a = df.iloc[i,0].split('-')
    df.iloc[i,0] = a[2].strip() + '-' + a[1].strip() + '-' + a[0].strip()
    
    if df.iloc[i,0][:2] in b:
        df.iloc[i,0] = '20'+df.iloc[i,0]
    elif df.iloc[i,0][:2] in c:
        df.iloc[i,0] = '19'+df.iloc[i,0]
        
#     df.iloc[i,1] = df.iloc[i,1].replace(',','')
#     df.iloc[i,1] = float(df.iloc[i,1])
    
#     df.iloc[i,2] = df.iloc[i,2].replace(',','')
#     df.iloc[i,2] = float(df.iloc[i,2])
    
#     df.iloc[i,3] = df.iloc[i,3].replace(',','')
#     df.iloc[i,3] = float(df.iloc[i,3])
    
#     df.iloc[i,4] = df.iloc[i,4].replace(',','')
#     df.iloc[i,4] = float(df.iloc[i,4])
    
df = df.sort_values(by='Date')
df = df.reset_index()
df = df.drop(['index'], axis=1)
    
df.to_csv('C:\\Users\\parks\\Desktop\\JPYtoKWR.csv')

In [284]:
df = pd.read_csv('C:\\Users\\parks\\Desktop\\USD_KRW.csv')

In [285]:
for i in range(len(df)):
    df.iloc[i,0] = df.iloc[i,0].replace('Dec', '12')
    df.iloc[i,0] = df.iloc[i,0].replace('Nov', '11')
    df.iloc[i,0] = df.iloc[i,0].replace('Oct', '10')
    df.iloc[i,0] = df.iloc[i,0].replace('Sep', '09')
    df.iloc[i,0] = df.iloc[i,0].replace('Aug', '08')
    df.iloc[i,0] = df.iloc[i,0].replace('Jul', '07')
    df.iloc[i,0] = df.iloc[i,0].replace('Jun', '06')
    df.iloc[i,0] = df.iloc[i,0].replace('May', '05')
    df.iloc[i,0] = df.iloc[i,0].replace('Apr', '04')
    df.iloc[i,0] = df.iloc[i,0].replace('Mar', '03')
    df.iloc[i,0] = df.iloc[i,0].replace('Feb', '02')
    df.iloc[i,0] = df.iloc[i,0].replace('Jan', '01')
    
    a = df.iloc[i,0].split('-')
    df.iloc[i,0] = a[2].strip() + '-' + a[1].strip() + '-' + a[0].strip()
    
    if df.iloc[i,0][:2] in b:
        df.iloc[i,0] = '20'+df.iloc[i,0]
    elif df.iloc[i,0][:2] in c:
        df.iloc[i,0] = '19'+df.iloc[i,0]
        
    df.iloc[i,1] = df.iloc[i,1].replace(',','')
    df.iloc[i,1] = float(df.iloc[i,1])
    
    df.iloc[i,2] = df.iloc[i,2].replace(',','')
    df.iloc[i,2] = float(df.iloc[i,2])
    
    df.iloc[i,3] = df.iloc[i,3].replace(',','')
    df.iloc[i,3] = float(df.iloc[i,3])
    
    df.iloc[i,4] = df.iloc[i,4].replace(',','')
    df.iloc[i,4] = float(df.iloc[i,4])
    
df = df.sort_values(by='Date')
df = df.reset_index()
df = df.drop(['index'], axis=1)
    
df.to_csv('C:\\Users\\parks\\Desktop\\USDtoKWR.csv')

In [4]:
b = ['02', '01', '00']
c = ['96', '97', '98', '99']

In [251]:
df

            Date     Price      Open      High       Low Change %
0     2002-12-31  1,186.05  1,190.25  1,191.25  1,182.15   -0.92%
1     2002-12-30  1,197.10  1,196.10  1,203.60  1,195.10   -0.05%
2     2002-12-27  1,197.75  1,196.25  1,198.25  1,194.25   -0.18%
3     2002-12-26  1,199.90  1,197.20  1,201.30  1,197.20   -0.07%
4     2002-12-25  1,200.70  1,200.70  1,200.70  1,200.70    0.00%
5     2002-12-24  1,200.70  1,201.20  1,203.10  1,198.20    0.10%
6     2002-12-23  1,199.50  1,202.50  1,205.20  1,198.50   -0.37%
7     2002-12-20  1,204.00  1,198.00  1,206.10  1,198.00    0.21%
8     2002-12-19  1,201.50  1,201.50  1,201.50  1,201.50    0.00%
9     2002-12-18  1,201.50  1,200.50  1,204.90  1,198.50    0.04%
10    2002-12-17  1,201.00  1,206.00  1,206.50  1,191.00    0.21%
11    2002-12-16  1,198.50  1,200.50  1,204.20  1,198.00   -0.50%
12    2002-12-13  1,204.50  1,212.50  1,212.50  1,204.50   -0.25%
13    2002-12-12  1,207.50  1,215.50  1,216.00  1,207.50    0.00%
14    2002-12-11  1,207.50  1,220.50  1,220.50  1,207.50   -0.37%
15    2002-12-10  1,212.00  1,215.00  1,220.00  1,212.00    0.37%
16    2002-12-09  1,207.50  1,212.00  1,215.80  1,207.50   -1.07%
17    2002-12-06  1,220.50  1,224.50  1,232.20  1,218.50    0.00%
18    2002-12-05  1,220.50  1,216.50  1,228.90  1,216.50    0.33%
19    2002-12-04  1,216.45  1,215.05  1,219.45  1,212.75   -0.08%
20    2002-12-03  1,217.40  1,217.20  1,218.90  1,212.40    0.50%
21    2002-12-02  1,211.40  1,210.00  1,219.00  1,198.40    0.71%
22    2002-11-29  1,202.85  1,210.15  1,213.35  1,210.15   -0.41%
23    2002-11-28  1,207.80  1,208.20  1,209.60  1,206.20   -0.14%
24    2002-11-27  1,209.50  1,206.40  1,210.20  1,205.50    0.91%
25    2002-11-26  1,198.60  1,210.50  1,211.00  1,198.60   -1.21%
26    2002-11-25  1,213.25  1,213.75  1,217.65  1,212.25   -0.35%
27    2002-11-22  1,217.50  1,216.50  1,218.60  1,212.50    0.04%
28    2002-11-21  1,217.00  1,215.90  1,217.50  1,213.00    0.27%
29    2002-11-20  1,213.75  1,217.25  1,220.25  1,208.75    0.06%
...          ...       ...       ...       ...       ...      ...
1789  1996-02-12     778.5     780.2     780.2     778.3   -0.25%
1790  1996-02-09    780.45    780.55    781.85    780.35   -0.03%
1791  1996-02-08    780.65    780.45    782.05    779.95   -0.07%
1792  1996-02-07     781.2     777.5     781.2     777.5    0.47%
1793  1996-02-06    777.55    777.25    778.35    777.25   -0.06%
1794  1996-02-05    778.05    780.35    780.85    777.65   -0.43%
1795  1996-02-02     781.4     784.8       785     780.7   -0.43%
1796  1996-02-01    784.75    784.35    784.85    783.15   -0.06%
1797  1996-01-31    785.25    784.55    786.75    784.55    0.05%
1798  1996-01-30    784.85    782.65    786.45    782.35    0.20%
1799  1996-01-29    783.25    784.85    785.05    782.55   -0.29%
1800  1996-01-26    785.55    786.05    786.45    783.95   -0.08%
1801  1996-01-25    786.15    787.85    789.65    785.95   -0.14%
1802  1996-01-24    787.25    787.25    787.75    785.15   -0.04%
1803  1996-01-23    787.55    789.05    789.15    787.05   -0.22%
1804  1996-01-22     789.3     789.1     789.7     788.6   -0.08%
1805  1996-01-19     789.9     789.1       790     788.9    0.03%
1806  1996-01-18    789.65    790.55    791.45    788.45   -0.25%
1807  1996-01-17    791.65    791.05    793.45    790.25   -0.13%
1808  1996-01-16    792.65    791.65    793.45    790.05    0.13%
1809  1996-01-15     791.6     788.7     791.9     788.7    0.13%
1810  1996-01-12    790.55    790.05    793.25    789.55   -0.20%
1811  1996-01-11     792.1     787.6     792.1     787.6    0.54%
1812  1996-01-10    787.85    785.75    787.85    785.55    0.10%
1813  1996-01-09     787.1     786.8     789.3     786.6   -0.14%
1814  1996-01-08     788.2     788.1     791.8     787.6    0.00%
1815  1996-01-05     788.2     786.1     788.6     784.1    0.13%
1816  1996-01-04     787.2     777.6       788     777.6    1.12%
1817  1996-01-03    778.45    774.75    778.75    774.05    0.35%
1818  1996-01-02    775.75    775.75    775.75    775.75    0.00%

[1819 rows x 6 columns]